$u-primary: #71585c;
$u-success: #52c41a;
$u-warning: #faad14;
$u-error: #ba1a1a;

$u-bg-color: #fff8f7;
$u-bg-color-grey: #f5f5f5;
$u-text-color: #1e1b1b;
$u-text-color-grey: #807476;
$u-text-color-placeholder: #b5a8aa;
$u-border-color: rgba(210, 195, 196, 0.3);
